/* 한글 깨지지 않게 설정 */
@charset "utf-8";
body{
    /* 글자체는 모두 맑은 고딕체를 사용하고 모바일에서 고딕계열 사용 */
    font-family: "맑은고딕","malgun gothic", sans-serif;
}
/* 여백초기화 */
*{margin: 0; padding: 0;}
/* 버튼초기화 */
button{border: none; background-color: none;}

#header{
    width: 100%;
    height: 45px;
    background-color: #33353f;
    /* 자식 요소들을 아래로 배치 */
    display: flex;
    /* 자식 요소들을 왼쪽 가운데 오른쪽 정렬해줌 */
    justify-content: space-between;
}

/* 버튼 사이즈 조정 */
#header button img{width: 45px;}

/* 로고 사이즈 조정 */
#header h1 a img{width: 90px;}

/* 슬라이드 이미지 가로 100% 채우기 */
.swiper .swiper-wrapper .swiper-slide img{width: 100%;}